<form  method="post" action="/home/NewContributor">
    <div class="container col-md-offset-4">
        <input class="form-control"type="text" name="FirstName" placeholder="First" />
        <br/>
        <input class="form-control" type="text" name="LastName" placeholder="Last" />
        <br />
        <input class="form-control"type="text" name="CellNumber" placeholder="Cell Number" />
        <br />
        <input class="form-control"type="checkbox" name="AllwaysInclude"  placeholder="Allways Include"value="true" />
        <input class="form-control"type="hidden" name="AllwasyInclude" value="false"/>
        <br />
        <button class="btn btn-primary">Add</button>

    </div>
</form>